[alias]
    graph = log --all --decorate --oneline --graph --color
    f = fetch
    co = checkout
    s = status
    b = branch
[user]
    email = braden@openoceanrobotics.com\n
    name = Braden Stefanuk
[core]
    editor = nvim
